services:
  ytdownloader:
    image: ghcr.io/timhasenkamp/go-ytdown:latest
    container_name: ytdownloader
    ports:
      - "8080:8080"
    volumes:
      - ./downloads:/app/downloads
    restart: unless-stopped
    environment:
      - TZ=Europe/Berlin
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
